{
  "extends": "plugin:@typescript-eslint/recommended",
  "plugins": [
    "cypress"
  ],
  "env": {
    "es6": true,
    "node": true,
    "cypress/globals": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
